<router-outlet></router-outlet>
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td (click)="getValue(user.name)">{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.website}}</td>
      </tr>
    </tbody>
  </table>
</div>
